*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('./img/bVOJ3ra-electric-blue-wallpaper.png');
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 1px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.container{
  width: 900px;
  height: 700px;
  color: #fff;
  margin: auto;
  margin-top: 150px;
  background: rgba(255, 255, 255, 0.288);
  border-radius: 15px;
  overflow: hidden;
  z-index: 10;
  backdrop-filter: blur(5px);
  border-top: 2px solid rgba(255, 255, 255, 0.068);
  border-left: 2px solid rgba(255, 255, 255, 0.2);
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
  text-align: center;
  /* padding: 30px 30px 40px 30px; */
  display: grid;
  grid-template-columns: .6fr 1fr;
}

.contacts_container h1{
  font-weight: 300;
  padding-bottom: 18px;
  margin-bottom: 10px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.212);
}
.contacts_container{
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.212);

}

.chats_header{
  border-top-left-radius: 15px;
  /* border-top-right-radius: 15px; */
  padding-top: 22px;
  /* background-color: rgba(255, 255, 0, 0.774); */
}
.chats{
  padding: 15px;
  border-right: 2px solid rgba(255, 255, 255, 0.123);

}

.contact_image{
  width: 50px;
  margin-right: 20px;
}
.contact{
  display: flex;
  align-items: center;
  padding: 8px;
  margin-bottom: 1px;
  transition: .1s ease-in all;
}
.contact:hover{
  background: rgba(255, 255, 255, 0.267);
  border-left: 2px solid rgba(255, 255, 255, 0.2);
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  cursor: pointer;
}

.contact h3{
  font-weight: 200;
}

/* Chat */
.chat_window{
  position: relative;
}
.chat_header{
  display: flex;
  align-items: center;
  /* background: #3fff05ab; */
  border-top-right-radius: 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  height: 79px;
  font-size: 20px;
  padding-left: 30px;
}
.chat_header_img{
  width: 40px;
  margin-right: 15px;
}
.message_input{
  width: 100%;
  padding: 15px;
  /* background-color: rgba(26, 26, 71, 0.253); */
  border-top: 1px solid rgba(255, 255, 255, 0.24);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0;
}
.message_input > input{ 
  width: 80%;
  height: 40px;
  border-radius: 5px;
  border: none;
  padding-left: 20px;
  background-color: rgba(255, 255, 255, 0.438);
  color: white;
  font-size: 15px;
  letter-spacing: .5px;
}
.message_input > input:focus{ 
  outline: none;
  border: none;
}
.message_input > input::placeholder{ 
  color: white;
  font-size: 15px;
  letter-spacing: .5px;

}

.send_button{
  width: 100px;
  height: 40px;
  border-radius: 5px;
  border: none;
  background: #3fff05ab;
  color: white;
  font-size: 15px;
}

/* Chat */
.chat_history{

}
.message_history{
  position: absolute;
  bottom: 70px;
  width: 100%;
  padding: 30px 0 0 60px;
}
.message_history > div{
  text-align:center;
}
.message{
  padding: 10px;
}
.answer{
  text-align: left;
  background: rgba(255, 255, 255, 0.301);
  border-radius: 5px;
  margin-bottom: 20px;
  width: 60%;

}
.my_message{
  text-align: right;
  background: #3fff0548;
  border-radius: 5px;
  margin-bottom: 20px;
  width: 70%;
  display: inline-block;
}